<div *ngIf="!isAddressSelected">
  <h4>Select an Address</h4>
  <div class="address" *ngIf="addresses">
    <dl (click)="selectAddress(address)" *ngFor="let address of addresses">
      <dt>{{address.name}}</dt>
      <dt>{{address.houseNo}}</dt>
      <dt>{{address.lane1}}</dt>
      <dt>{{address.lane2}}</dt>
      <dt>{{address.city}}</dt>
      <dt>{{address.state}}</dt>
      <dt>{{address.pincode}}</dt>
    </dl>
  </div>

  <button *ngIf="!enableEditMode" (click)="enableEditAddress()">Add new Address</button>

  <form  [formGroup]="addressForm" (ngSubmit)="onSubmit()">

  <div *ngIf="enableEditMode" class="addAddress">
    <input type="text" placeholder="name" formControlName="name" [(ngModel)]="selectedAddress.name">
    <input type="text" placeholder="houseNo" formControlName="houseNo" [(ngModel)]="selectedAddress.houseNo">
    <input type="text"  placeholder="lane1" formControlName="lane1" [(ngModel)]="selectedAddress.lane1">
    <input type="text"  placeholder="lane2" formControlName="lane2" [(ngModel)]="selectedAddress.lane2">
    <input type="text" placeholder="city" formControlName="city" [(ngModel)]="selectedAddress.city">
    <input type="text"  placeholder="state" formControlName="state" [(ngModel)]="selectedAddress.state">
    <input type="number" placeholder="pincode" formControlName="pincode" [(ngModel)]="selectedAddress.pincode">
    <button type="submit" [disabled]="!addressForm.valid">Add Address</button>
  </div>
  </form>

</div>
<div class="selectedAddress" *ngIf="isAddressSelected">
  <dl>
    <dt>{{selectedAddress.name}}</dt>
    <dt>{{selectedAddress.houseNo}}</dt>
    <dt>{{selectedAddress.lane1}}</dt>
    <dt>{{selectedAddress.lane2}}</dt>
    <dt>{{selectedAddress.city}}</dt>
    <dt>{{selectedAddress.state}}</dt>
    <dt>{{selectedAddress.pincode}}</dt>
  </dl>
</div>
