
<ul class="orderList" *ngFor="let order of orders; let orderIndex=index" >
    <div class="orderDetails">

    <ul class="productList" *ngFor="let item of order.products; let productIndex=index">
            

    <img>  
    <li id="productName" *ngIf="products[orderIndex][productIndex]">{{products[orderIndex][productIndex].name}} </li>
   <li *ngIf="products[orderIndex][productIndex]" >Rs :{{products[orderIndex][productIndex].cost}}</li>
   <!-- <li>*</li> -->
   <li *ngIf="products[orderIndex][productIndex]">Nos:{{item.quantity}} </li>
   <!-- <li>=</li> -->
   <li *ngIf="products[orderIndex][productIndex]">Rs :{{item.quantity*products[orderIndex][productIndex].cost}} </li>

</ul>

  </div>

<div class="orderExtraDetails">
    <li id="date">Ordered On :{{order.date}}</li>


    <li id="totalCost">Total Amount:Rs {{order.totalCost}}</li>


</div>
</ul>


