header {
  background-color: rgb(94, 94, 94);
  color: #ddd;
  display: flex;
  padding: 20px;
  flex-direction: row ;
  justify-content: space-around;
  align-items:  center ;

}

input{
  width: 50%;
  padding: 5px 0px;
  font-size: 20px;
  margin-left: 10px;
}

span a:hover {
  color: #111;
}

span a {
  color: white;
  text-decoration: none;
  font-size: 20px;
}