header {
  background-color: rgb(247, 182, 62);
  display: flex;
  padding-top: 10px;
  padding-bottom: 0%;
  margin: 0%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

app-search {
  width: 45%;
  padding: 5px 0px;
  font-size: 20px;
  margin-left: 10px;
}


span a {
  color: rgb(37, 33, 33);
  width: 100%;
  text-decoration: none;
  font-size: 20px;
}

span a:hover {
  color: rgb(143, 143, 143);
  cursor: pointer;
}


app-nav {
  flex-basis: 100%;
  padding: 0%;
  margin: 0%;
}

img {
  display: block;
  border-radius: 32px;
  width: 60px;
  height: 60px;
  padding: 5px;
}

#logout {
  float: right;
}
