

ul {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  background-color: #fff;
}

li {
  float: left;
  list-style-type: none;
  left: 0;
  padding: 8px;
  align-items: center;
  border-radius: 20px;
  margin: 6px;
}

 h3 {
  color: black;
  margin: 0px 0px 8px 0px;
  padding: 8px;
  text-align: left;
  border-radius: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

#product li #content {
  background: rgb(134, 134, 134);
  color: rgb(255, 255, 255);
  margin-bottom: 5px;
  padding: 4px 4px 0px 4px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
  align-items: center;
  align-self: center;
  text-align: center;
}

#product li a {
  text-decoration: none;
}



.content {
  margin: 10px;
  min-height: 72.5vh;
  border: 2px solid rgb(196, 196, 196);
}

img {
  align-self: center;
  width: 80%;
  height: 180px;
  margin: 20px auto;
  display: block;
  align-self: center;
}

#checkout {
  padding: 10px;
  margin: 10px;
  width: 20%;
  float: right;
  overflow: hidden;
  box-shadow: #fff;
  border-radius: 10px;
  background-color: #2ecc71;
  color: #ecf0f1;
}
h4 {
  padding: 10px;
  margin: 10px;
text-align: right;
  color: #7e7e7e;
}

#list{
  display: grid;
  grid-template-columns: 30% 70%;
  grid-gap: 10px;

}

#textArea{
  display: flex;
  flex-direction: row ;
  justify-content: space-around;
  align-items:  center ;
}

#varyQuantity{
  display: flex;
  flex-direction: row ;
  justify-content: space-around;
  align-items:  center ;
}