<nav>

  <dl>
    <dt id="title"><a>Men</a></dt>
    <div id="tile">
      <dd><a href="#">T-Shirt</a></dd>
      <dd><a href="#">T-Pant</a></dd>
      <dd><a href="#">Track Suit</a></dd>
    </div>
  </dl>

  <dl>
    <dt id="title"><a>Women</a></dt>
    <div id="tile">
      <dd><a href="#">T-Shirt</a></dd>
      <dd><a href="#">T-Pant</a></dd>
      <dd><a href="#">Track Suit</a></dd>
    </div>
  </dl>

  <dl>
    <dt id="title"><a>Kids</a></dt>
    <div id="tile">
      <dd><a href="#">T-Shirt</a></dd>
      <dd><a href="#">T-Pant</a></dd>
      <dd><a href="#">Track Suit</a></dd>
    </div>
  </dl>

</nav>
