<nav>

  <dl>
    <dt  (click)="open(0)" id="title"><a>Men</a></dt>
    <div id="tile"  *ngFor="let product of products">
      <dd><a *ngIf="isOpen[0]">{{product.name}}</a></dd>
    </div>
  </dl>

  <dl>
    <dt  (click)="open(1)" id="title"><a>Women</a></dt>
    <div id="tile"  *ngFor="let product of products">
      <dd><a *ngIf="isOpen[1]">{{product.name}}</a></dd>
    </div>
  </dl>

  <dl>
    <dt  (click)="open(2)" id="title"><a>Kids</a></dt>
    <div id="tile"  *ngFor="let product of products">
      <dd><a *ngIf="isOpen[2]">{{product.name}}</a></dd>
    </div>
  </dl>

</nav>
