footer {
  display: grid;
  padding: 20px;
  align-self: baseline;
  grid-template-columns: 1fr auto;
  grid-template-rows: repeat(3, 100px);
  grid-gap: 1em;
  grid-column: 1 / 4;
  font-size: 50px;
  color: aliceblue;
  background-color: #444;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  height: 30px;
  ;
}

.wrapper p {
  font-size: 20px;
  align-self: baseline;
}
